<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title>Pinteresting | Gallery Layout</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
<!-- A Simple non functional Pinterest inspired page layout created using only HTML and CSS.
       Created by M. Hassler - Hassified -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<body>

  <div class="header">
    <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/pinterest-round-color-icon.png" class="icon pinterest-icon">
    <ul class="navigation">
      <li>Home</li>
      <li>Explore</li>
      <li>Create</li>
    </ul>
    <div class="search-bar">
      <img src="https://www.brilliantlightingcenter.com/data/images/icons/search.svg" class="search-icon">
      <input type="text" placeholder="Search">
    </div>
    <div class="nav-icons">
      <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/bell-icon.png" class="icon nav-icon">
      <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/speech-bubble-black-icon.png" class="icon nav-icon">
      <img src="https://uxwing.com/wp-content/themes/uxwing/download/arrow-direction/angle-bottom-icon.png" class="icon nav-icon arrow-icon">
    </div>
  </div>

  <main>
    <div class="profile-container">
      <div class="profile-header">
        <img class="profile-picture" src="https://via.placeholder.com/150" alt="Profile Picture">
        <h1 class="profile-name"><%= user.fullname %></h1>
        <p class="profile-bio">@<%= user.username %></p>
        <p class="profile-bio"><%= user.email %></p>
      </div>

      <div class="profile-content">
        <button class="create-button">Edit profile</button>
        <button class="create-button">Saved post</button>
        <button id="showFormButton" class="create-button">Create post</button>
        <form action="/users/logout" method="POST">
          <button class="create-button">Logout</button>
        </form>
      </div>
      <div class="form-container" id="uploadFormContainer">
        <form action="/users/createpost" method="POST" enctype="multipart/form-data">
            <input type="file" id="postImage" name="file" accept="image/*" required>
            <input type="text" id="postcaption" name="postcaption" placeholder="title" required>
          <button type="submit">Upload</button>
        </form>
      </div>
    </div>
  </main>

  <div class="grid">
    <% user.posts.forEach(function(post){ %>
      <div class="grid-item">
        <img src="/images/uploads/<%= post.image %>" />
        <p><%= post.postcaption %></p>
      </div>
    <% }) %>
  </div>

  <!-- Profile Modal Structure -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <span id="closeModal" class="close-btn">&times;</span>
      <h2>Modal Header</h2>
      <p>This is a sample modal popup!</p>
    </div>
  </div>
  <script>
    $(".grid").imagesLoaded(function() {
      $(".grid").masonry({
        itemSelector: ".grid-item"
      });
    });
  </script>
  <script src="/javascripts/profile.js"></script>
</body>
</html>